<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="{% static 'logreg/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    </head>
    <body>
         <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{% if template_url == 'logreg/register.html'%}active{% endif %}"><a href="{% url 'register' %}">Register</a></li>
                        <li class="{% if template_url == 'logreg/login.html'%}active{% endif %}"><a href="{% url 'login' %}">Log In</a></li>
                        <li class="{% if template_url == 'logreg/register.html'%}active{% endif %}"><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div id="container">
            <table class="table table-bordered dash">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Join Date</th>
                        <th>User Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users%}
                        <tr>
                            <td><a href="{% url 'show' user.id %}">{{ user.first_name }} {{ user.last_name }}</a></td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.date_joined }}</td>
                            {% if user.is_staff == True %}
                                <td>Admin</td>
                            {% else %}
                                <td>Normal</td>
                            {% endif %}
                            <td><a href="{% url 'edit' user.id %}">Edit</a> | <a href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
