<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <title></title>
    </head>
    <body>
        <div class="container">
            <h1>Edit.</h1>
            <form action="{% url 'edit' user.id %}" method="POST">{% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="control-group error">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">{{ field }}
                            <br><span class="help-inline">
                                {% for error in  field.errors %}{{ error }}{% endfor %}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="control-group">
                        <label class="control-label">{{ field.label }}</label>
                        <div class="controls">{{ field }}
                            {% if field.help_text %}
                                <p class="help-inline"><small>{{ field.help_text }}</small></p>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" >Submit</button>
                <a href='{% url "dashboard" %}' class="btn btn-danger">Cancel</a>
            </div>
        </form>
        </div>
    </body>
</html>
