*{
    /*font-family: monospace;*/
}
#container{
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    margin: 0 auto;
    width: 970px;
    min-height: 600px;
}
    #container h1{
        font-size: 3em;
    }
    .navbar{
        margin-bottom: 30px;
    }
#reg-form{
    display: inline-block;
    width: 450px;
    height: 200px;
}
.dash{
    margin-top: 20px
}
.show{
    padding-top: 40px;
}
    .message_name{
        display: inline-block;
    }
    .message_date{
        display: inline-block;
        margin-left: 100px;
    }
    .message_content{
        border: solid 1px;
        width: 50%;
    }
.modal-footer > form{
    display: inline-block;
}
